section.section.home-numbers
    .container
        .home-numbers__numbers
            .home-numbers__number.number
                .number__symbol!= '>'
                .number__number 200
                .number__text законченных проектов в портфолио
            .home-numbers__number.number
                .number__symbol!= '>'
                .number__number 50
                .number__text % заказчиков возвращаются  
            .home-numbers__number.number
                .number__symbol!= '>'
                .number__number 500
                .number__text литров игристого выпито на&nbsp;завершенных объектах                
    .home-numbers__picture
        .container
            .home-numbers__img
                img(src="../../../../img/home/home_numbers.png")
            +quote({
                classes: 'home-numbers__quote',
                text: 'Мы хотим, чтобы интерьеры отражали Ваш характер. имея собственный. Чтобы смотря на визуализации будущего интерьера Вы чувствовали, что мечты сбываются'
            })