section.section.home-about
    .container.home-about__container
        .home-about__video
            img(src="../../../../img/home/home_about.png" alt="about video")
        .home-about__text
            +title({
                classes: 'title__h2--small home-about__title',
                tag: 'h2',
                text: 'Как мы работаем'
            })
            +quote({
                classes: '',
                text: 'Уверена, что облик дома формируют арт-объекты, придающие ему интеллектуальность. И с опытом я все больше убеждаюсь в том, что концепцию жилья надо начинать именно с искусства и лишь потом углубляться в технические моменты',
                author: 'Волкова Арина Владимировна',
                position: 'Руководитель студии VI interiors',
            })