section.home-intro
    .home-intro__bg
        img(src="../../../../img/home/home_intro.png")
    .home-intro__content
        .container
            +title({
                classes: 'home-intro__title',
                tag: 'h1',
                text: 'Интерьеры с характером'
            })
            +btn({
                classes: 'home-intro__btn',
                vMode: 'btn',
                text: 'Скролл',
                cMode: 'transparent',
                icon: true,
                iconName: 'scroll',
            })