.home-intro {
    position: relative;
    overflow: hidden;

    &__bg {
        position: absolute;
        left: 0;
        top: 130%;
        width: 100%;
        height: 100%;
        z-index: 5;

        >img,
        >video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(0.48);

            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #000;
                opacity: 0.2;
            }
        }

    }

    &__fake {
        position: absolute;
        z-index: 20;

        img {
            width: 100%;
            height: auto;
        }

        &--1 {
            width: 60%;
            top: 50%;
            left: 50%;
            transform: translate(-40.3%, -130%);
        }

        &--2 {
            width: 26.8%;
            top: 50%;
            left: 50%;
            transform: translate(69%, -64%);
        }

        &--3 {
            width: 53.5%;
            top: 50%;
            left: 50%;
            transform: translate(-25%, 56%);
        }

        &--4 {
            width: 26.8%;
            top: 50%;
            left: 50%;
            transform: translate(-138%, 56%);
        }

        &--5 {
            width: 26.8%;
            top: 50%;
            left: 50%;
            transform: translate(-151%, -37%);
        }

        &--logo {
            width: 104px;
            height: 68px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include max(1199) {
                width: 87.78px;
                height: 57.39px;
            }
        }
    }

    &__content {
        position: relative;
        z-index: 5;
        opacity: 0;
        transition: opacity 0.8s linear;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 100vh;
            padding: 335px 0 40px;
        }
    }

    &__title {
        text-align: center;
    }

    &__btn {
        padding: 4px 0;
        color: $c-white;
    }
}