.cookie(data-js='cookie')
    .cookie__text Мы используем файлы cookie для вашего удобства пользования сайтом и повышения качества рекомендаций.
    +btn({
        classes: 'cookie__btn',
        vMode: 'btn',
        text: 'Хорошо',
        cMode: 'blue',
    })(data-js='cookieBtn')