.home-reviews {
    @include max(1024) {
        background-color: $c-grey;
    }

    &__container {
        background-color: $c-grey;
    }

    &__slider {
        overflow: hidden;
        position: relative;
        padding-left: calc((100% - 1312px) / 2);
        max-width: 100%;

        @include max(1440) {
            padding-left: 64px;
        }

        @include max(1024) {
            padding-left: 0;
        }
    }

    &__slide {
        height: 730px;
        display: flex;

        @include max(1024) {
            height: auto;
            flex-direction: column;
        }

        &:not(.swiper-slide-active) {
            opacity: 0 !important;
            z-index: -10;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: absolute;
        top: 64px;
        left: 0;
        width: 48.38%;
        padding-right: 64px;
        padding-left: 64px;
        z-index: 5;

        @include max(1024) {
            position: relative;
            top: 0;
            padding-right: 48px;
            padding-left: 48px;
            width: 100%;
        }

        .title {
            max-width: 397px;

            @include max(1024) {
                max-width: calc(100% - 85px);
            }
        }
    }

    &__controls {
        display: flex;
        gap: 20px;

        .slider-control {
            &--prev {
                transform: rotate(180deg);
            }

            &.swiper-button-disabled {
                opacity: 0.2;
            }
        }

    }

    &__preview {
        @include max(1024) {
            display: none;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__review {
        display: grid;
        grid-template-columns: minmax(0, 33.4%) minmax(0, 66.6%);
        grid-auto-rows: max-content;
        gap: 32px 40px;
        flex: 0 0 48.38%;
        padding: 342px 64px 64px 0;

        @include max(1024) {
            padding: 40px 48px 48px;
            flex: 0 0 auto;
            gap: 24px;
        }
    }

    &__title {
        grid-column: 1 / 3;
        padding-bottom: 32px;
        border-bottom: 1px solid rgba(218, 197, 177, 0.2);
        font-family: $titleFont;
        font-size: 20px;
        line-height: 1.08em;
        color: $c-white;

        @include max(1024) {
            padding-bottom: 0;
            border-bottom: none;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include max(1024) {
            grid-column: 1 / 3;
        }

        .btn {
            margin-top: 16px;

            @include max(1024) {
                margin-top: 24px;
                padding: 24px 76px;
            }
        }
    }

    &__quote.quote {
        flex-direction: column;
        gap: 12px;
        max-width: 360px;

        @include max(1024) {
            flex-direction: row;
            min-width: 100%;
        }

        .quote__author {
            font-family: $textFont;
            margin-top: 8px;
            font-size: 16px;
            line-height: 1.5em;
            opacity: 0.3;
        }
    }

    &__img {
        flex: 0 0 51.62%;

        @include max(1024) {
            flex: 0 0 auto;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            @include max(1024) {
                aspect-ratio: 1 / 0.987;
            }
        }
    }

    &__full {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        width: 48.38%;
        height: 100%;

        @include max(1024) {
            display: none;
        }
    }

    .full-review {
        display: flex;
        flex-direction: column;
        padding: 64px 64px 64px 0;
        opacity: 0;
        visibility: hidden;
        background-color: $c-grey;
        transition: opacity $tr-time-and-type;

        &.active {
            opacity: 1;
            visibility: visible;
        }

        .home-reviews__title,
        &__author,
        &__btn {
            flex-shrink: 0;
            flex-grow: 0;
        }

        &__scroll {
            flex: 1 1 auto;
            margin-top: 32px;
        }

        &__icon {
            width: 43px;
            height: 21px;
            color: $c-beige;

            svg {
                width: 100%;
                height: 100%;
                color: inherit;
            }
        }

        &__text {
            margin-top: 12px;
            opacity: 0.7;
        }

        &__author {
            margin-top: 8px;
            font-size: 16px;
            line-height: 1.5em;
            color: #696969;
        }

        &__close {
            margin-top: 12px;
        }
    }
}