h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}




input,
button,
textarea,
select {
    font-size: inherit;
    font-family: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

div,
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
    outline: none;
    font-size: inherit;
    background: transparent;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
}

img,
picture {
    display: block;
    max-width: 100%;
}

textarea {
    resize: none;
}

a {
    color: inherit;
}

ul,
ol {
    list-style: none;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -webkit-locale: auto;
    white-space: normal;
    margin: 0;
    font-family: $textFont;
    font-size: 16px;
    line-height: 1.5em;
}

html {
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.main {
    flex-grow: 1;
}

.container {
    box-sizing: border-box;
    width: 1312px;
    max-width: calc(100% - 64px * 2);
    margin: 0 auto;

    @include max(lg) {
        max-width: calc(100% - 30px * 2);

    }

    @include max(md) {
        max-width: calc(100% - 16px * 2);
    }
}

*:focus {
    outline: none;
}

.hidden {
    display: none;
}

.site-main {
    width: 100%;
    flex-grow: 1;
    background-color: $c-grey-1;
}

.section {
    padding-top: 120px;
}

/*.my-fancybox {
    .fancybox__viewport {
        .fancybox__slide {
            padding-left: 20px;
            padding-right: 20px;

            @include max(1024) {
                padding-left: 20px;
                padding-right: 20px;
            }

            @include max(768) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        .fancybox__content {
            max-width: 1200px;
            max-height: 800px;
            border-radius: 15px;
            overflow: hidden;

            @include max(1024) {
                max-width: 840px;
                max-height: 560px;
                border-radius: 15px;
            }

            @include max(768) {
                max-width: 335px;
                max-height: none;
                border-radius: 15px;
            }
        }

    }

    .f-thumbs {
        @include max(768) {
            padding: 0 20px 8px;
        }

        .f-thumbs__slide {
            width: 100px;
            height: 67px;
            margin: 0 10px 0 0;

            @include max(1024) {
                width: 100px;
                height: 67px;
                margin: 0 10px 0 0;
            }

            @include max(768) {
                width: 80px;
                height: 54px;
                margin: 0 5px 0 0;
            }

            &__button {
                width: 100%;
                opacity: 1;

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: auto;
                    bottom: 0;
                    border: 2px solid #585A60;
                    border-radius: 5px;
                    animation: f-fadeIn 0.2s ease-out;
                    z-index: 10;

                    @include max(1024) {
                        border-radius: 5px;
                    }

                    @include max(768) {
                        border-radius: 5px;
                    }
                }
            }

            &__img {
                border-radius: 5px;

                @include max(1024) {
                    border-radius: 5px;
                }

                @include max(768) {
                    border-radius: 5px;
                }
            }
        }

        .f-thumbs__slide.is-nav-selected {
            .f-thumbs__slide__button {
                &:after {
                    border: 2px solid white;
                    border-radius: 5px;

                    @include max(1024) {
                        border-radius: 5px;
                    }

                    @include max(768) {
                        border-radius: 5px;
                    }
                }
            }
        }
    }

    .fancybox__toolbar {
        .f-button[data-fancybox-close] {
            border-radius: 50%;
            margin-top: 40px;
            margin-right: 40px;
            width: 50px;
            height: 50px;

            @include max(1024) {
                margin-top: 30px;
                margin-right: 30px;
                width: 50px;
                height: 50px;
            }

            @include max(768) {
                margin-top: 20px;
                margin-right: 20px;
                width: 50px;
                height: 50px;
            }

            svg {
                width: 32px;
                height: 32px;
                color: white;

                @include max(1024) {
                    width: 32px;
                    height: 32px;
                }

                @include max(768) {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }

    .fancybox__nav {
        .f-button {
            background-color: #F3F9FF;
            width: 50px;
            height: 50px;
            border: none;

            @include max(1024) {
                width: 50px;
                height: 50px;
            }

            @include max(768) {
                display: none;
            }

            svg {
                width: 24px;
                height: 24px;
                color: $c-white;
                box-shadow: none;
                filter: none;

                @include max(1024) {
                    width: 24px;
                    height: 24px;
                }

                @include max(768) {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .f-button.is-prev {
            transform: rotate(-180deg);
            left: 40px;

            @include max(1024) {
                left: 30px;
            }
        }

        .f-button.is-next {
            right: 40px;

            @include max(1024) {
                right: 30px;
            }
        }
    }
}*/


/*Страница со списком страниц.*/
.pages-list {
    padding: 150px 0;

    &__links {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 20px;
        margin-top: 60px;

        @include max(1024) {
            grid-gap: 15px;
            margin-top: 40px;
        }

        @include max(768) {
            grid-template-columns: 1fr;
            grid-gap: 20px;
            margin-top: 40px;
        }
    }

    &__link {
        font-size: 32px;
        text-decoration: none;
        color: $c-white;
        transition: color 0.3s linear;

        @include max(1024) {
            font-size: 20px;
        }

        @include max(768) {
            font-size: 20px;
        }

        @include hover() {
            color: $c-white;
        }
    }
}